table{
    width: 100%;
}
h1{
    text-align: center;
}
td,th{
    border: 2px solid black;
    width: 14.27%;
}
th{
    padding: 8px 0;
    background-color:royalblue;
    color:darkblue
}
td{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 32px;
}
.weekend{
    background-color: lightcyan;
    color: darkcyan;
}
.off{
    background-color: dimgrey;
    color: white;
}
.regulardays{
    background-color: black;
    color: darkred;
}
.school{
    background-color: yellow;
    color: yellowgreen;
}
.holiday{
    background-color: pink;
    color: deeppink;
}
